<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="AuthenticationWCFService.Service">
				<!-- This endpoint is exposed at the base address provided in the ServiceHost -->
				<endpoint address="" binding="basicHttpBinding" contract="AuthenticationWCFService.IService" />
				<!-- Metadata endpoint (WSDL) -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To include metadata for the service -->
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
